@import "~bulma";
@import "./_vars.scss";

html {

  body {
    background-image: url("images/main_bg.png");
    padding-bottom: 20px;
  }

  .hero {
    &.is-primary {
      background-color: $gs-blue;
    }
  }

  .tabs {
    li.is-active a {
      border-bottom-color: $gs-blue;
      color: $gs-blue;
    }
    a:hover {
      border-bottom-color: $gs-yellow;
      color: $gs-yellow;
    }
  }
}
